<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <script src="/static/bootstrap.js"></script>
    <script src="/static/bootstrap.bundle.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/modals.js"></script>
</head>
<body>
    <!-- Шапка -->
    {{template "header" .}}

    <!-- Модальное окно подробноц информации о продукте -->
    {{template "infoProduct" .}}

    <!-- Модальное окно вывода ошибки -->
    {{template "errorWindow" .}}

    {{ if and (.CurrentUser.Email)  (eq .CurrentUser.Role "Клиент") }}
    <h1 class="display-5 my-4 text-center">Корзина</h1>
    <div class="row mx-4 mt-5">
        <div class="col">
            {{ range $key, $cart := .Carts }}
            <div class="justify-content-center align-items-center p-2 px-4">
                <div class="justify-content-center align-items-center border border-primary border-2 rounded-5 row">
                    <div class="col">
                        <img class="m-1 mx-auto d-block" src="/images/{{ .Product.ImageLink }}" alt="" width="120" height="120"/>
                    </div>
                    <div class="col">
                        <p class="text-center fs-4 m-0">{{ .Product.Name }}</p>
                        <p class="text-center fs-4 m-0">{{ multiply .Product.Price .Amount }} руб</p>
                    </div>
                    <div class="row col-3 justify-content-center align-items-center">
                        <button type="submit" class="btn btn-sm btn-outline-primary col-3 rounded-circle fs-5" style="width: 2.5rem; height: 2.5rem;" form="removeAmount{{ .Id }}">
                            <img src="/icons/dash-lg.svg">
                        </button>
                        <p class="text-center fs-4 col-5 m-0">{{ .Amount }} шт</p>
                        <button type="submit" class="btn btn-sm btn-outline-primary col-3 rounded-circle fs-5" style="width: 2.5rem; height: 2.5rem;"  form="addAmount{{ .Id }}">
                            <img src="/icons/plus-lg.svg">
                        </button>
                    </div>
                    <div class="row col mx-2 justify-content-center align-items-center">
                        <button id="" type="button" class="btn col btn-outline-primary mx-2 infoProduct" data-bs-toggle="modal" data-bs-target="#infoProduct" data-id="{{ .Product.Id }}" data-number="{{ .Product.Number }}" data-name="{{ .Product.Name }}" data-price="{{ .Product.Price }}" data-amount="{{ .Product.Amount }}" data-supplier="{{ .Product.Supplier.Name }}" data-storage="{{ .Product.Storage.Address }}" data-event="{{ .Product.Event.Name }}"  data-image="{{ .Product.ImageLink }}">Подробно</button>
                        <button type="submit" class="btn col btn-outline-danger mx-2" form="removeCart{{ .Id }}">Убрать</button>
                    </div>
                </div>
                <form class="visually-hidden" id="removeCart{{ .Id }}" action="/removeCart">
                    <input type="hidden" value="{{ .Id }}" name="Id">
                </form>
                <form class="visually-hidden" id="addAmount{{ .Id }}" action="/changeCart">
                    <input type="hidden" value="{{ .Id }}" name="Id">
                    <input type="hidden" value="Add" name="Operation">
                    <input type="hidden" value="{{ .Amount }}" name="Amount">
                </form>
                <form class="visually-hidden" id="removeAmount{{ .Id }}" action="/changeCart">
                    <input type="hidden" value="{{ .Id }}" name="Id">
                    <input type="hidden" value="Remove" name="Operation">
                    <input type="hidden" value="{{ .Amount }}" name="Amount">
                </form>
            </div>
            {{ end }}
        </div>
        <div class="col-3 mx-2">
            <div class="justify-content-center align-items-center border border-primary border-2 rounded-5 row">
                <p class="text-center fs-4 mt-2">Информация о заказе: </p>
                <div class="row">
                    Стоимость заказа: {{ .Price }} руб
                </div>
                <div class="row">
                    Скидка: {{ .Discount }}%
                </div>
                <div class="row">
                    Итоговая стоимость: {{ .PriceFinal }} руб
                </div>
                <form action="/makeOrder">
                    <input type="hidden" value="{{ .PriceFinal }}" name="PriceFinal">
                    <div class="row my-3 mx-1">
                        <select class="form-select" aria-label="Пункт выдачи" name="Delivery">
                            <option value="" selected disabled>Пункт выдачи</option>
                            {{ range $key, $item := .DeliverPoints }}
                            <option value="{{ .Id }}">{{ .Address }}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="row my-3">
                        <button type="submit" class="btn btn-outline-primary w-50 mx-auto">Оформить заказ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ else }}
    <div class="alert alert-warning text-center fs-5 mt-3 fade show" role="alert">
        <img src="/icons/exclamation-triangle-fill.svg" width="24"> Для доступа к данной странице авторизуйтесь с аккаунта покупателя!
    </div>
    {{ end }}
    <button class="errorBtn visually-hidden" data-bs-toggle="modal" data-bs-target="#errorMassage" tabindex="-1"></button>
</body>
</html>
