<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icons.png"/>
    <script src="/static/js/lib/bootstrap.js"></script>
    <script src="/static/js/lib/bootstrap.bundle.js"></script>
    <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/custom/errorWindow.js"></script>
    <script src="/static/js/custom/messageWindow.js"></script>
    <script src="/static/js/custom/modals.js"></script>
    <script src="/static/js/lib/purePajinate.js"></script>
</head>
<body>
    <!-- Шапка и боковая панель -->
    {{template "menu" .}}

    <!-- Модальное окно вывода ошибки -->
    {{template "errorWindow" .}}

    <!-- Модальное окно вывода сообщений -->
    {{template "messageWindow" .}}

    <!-- Модальное окно показа Изображений -->
    {{template "showImage" .}}

    <!-- Модальное окно подробной информации о Товаре -->
    {{template "infoProduct" .}}

    <h1 class="display-5 mb-3 text-center mt-5 pt-5">Каталог товаров</h1>

    <div class="py-2 mx-4 pb-3">
        <form action="/main/search" method="post" class="input-group p-10">
            {{.BaseObject.CsrfField}}
            <input placeholder="Найти" class="form-control form-control-lg rounded-start" type="text" name="SearchText">
            <button type="submit" class="btn btn-primary btn-lg input-group-btn">Поиск</button>
        </form>
    </div>

    <div class="mx-4">
        <div class="row mt-3">
            <div class="col-2 mt-2">
                <div class="border border-2 rounded p-2">
                    <form action="/main/category">
                        <p class="text-center fs-4">Фильтрация</p>
                        <a href="#submenucategories" data-bs-toggle="collapse" class="nav-link text-center fs-5 text-bg-primary rounded p-1 mb-2">Категории</a>
                        <ul class="collapse nav px-1" id="submenucategories" data-bs-parent="#menu">
                            {{ range $key, $category := .Categories }}
                            {{ if and (eq .Relation 0) (eq .IsExist true) }}
                            <li class="w-100">
                                <a href="#submenucategories{{ .ID }}" data-bs-toggle="collapse" class="nav-link text-center text-bg-primary bg-opacity-75 p-1 w-100 my-2">{{ .Name }}</a>
                                <ul class="collapse nav" id="submenucategories{{ .ID }}" data-bs-parent="#menu">
                                    {{ range $key1, $category1 := $.Categories }}
                                    {{ if and (eq .Relation $category.ID) (eq .IsExist true) }}
                                    <li class="w-100">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="1" name="{{ .Name }}"> {{ .Name }} </label>
                                        </div>
                                    </li>
                                    {{ end }}
                                    {{ end }}
                                </ul>
                            </li>
                            {{ end }}
                            {{ end }}
                        </ul>
                        <a href="#submenucharacteristics" data-bs-toggle="collapse" class="nav-link text-center fs-5 text-bg-primary rounded p-1 my-2">Характеристики</a>
                        <ul class="collapse nav px-1" id="submenucharacteristics" data-bs-parent="#menu">
                            {{ range $key, $characteristic := .Characteristics }}
                            {{ if and (eq .Relation 0) (eq .IsExist true) }}
                            <li class="w-100">
                                <a href="#submenucharacteristics{{ .ID }}" data-bs-toggle="collapse" class="nav-link text-center text-bg-primary bg-opacity-75 p-1 w-100 my-2">{{ .Name }}</a>
                                <ul class="collapse nav" id="submenucharacteristics{{ .ID }}" data-bs-parent="#menu">
                                    {{ if eq $characteristic.Type "SET" }}
                                    {{ range $key, $characteristic1 := $.Characteristics }}
                                    {{ if and (eq .Relation $characteristic.ID) (eq .IsExist true) }}
                                    <li class="w-100">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="1" name="{{ .Name }}"> {{ .Name }} </label>
                                        </div>
                                    </li>
                                    {{ end }}
                                    {{ end }}
                                    {{ else }}
                                    <li class="w-100 row mx-auto">
                                        <input class="form-control form-control-sm col me-1" type="number" placeholder="От" name="{{ .Name }}|Min">
                                        <input class="form-control form-control-sm col ms-1" type="number" placeholder="До" name="{{ .Name }}|Max">
                                    </li>
                                    {{ end }}
                                </ul>
                            </li>
                            {{ end }}
                            {{ end }}
                        </ul>
                        <div class="row mt-3 mx-1">
                            <button type="submit" class="btn btn-outline-primary mx-auto">Применить</button>
                        </div>
                        <div class="d-flex justify-content-center align-items-center mt-3 mx-1">
                            <div>Кол-во товаров на странице</div>
                            <select id="pageSelect" class="form-select w-auto" name="PagePagination" onchange="this.form.submit()" form="paginateForm">
                                <option {{ if eq .PagePagination 4 }} selected {{ end }}>4</option>
                                <option {{ if eq .PagePagination 8 }} selected {{ end }}>8</option>
                                <option {{ if eq .PagePagination 12 }} selected {{ end }}>12</option>
                                <option {{ if eq .PagePagination 16 }} selected {{ end }}>16</option>
                                <option {{ if eq .PagePagination 20 }} selected {{ end }}>20</option>
                            </select>
                        </div>
                    </form>
                    <form id="paginateForm" action="/main/paginate">
                    </form>
                </div>
            </div>
            <div class="col row row-cols-1 row-cols-md-4 p-2 items" style="height: 600px">
                {{ range $key, $product := .Products }}
                {{ if eq .IsExist true }}
                <div class="col mb-4 item">
                    <div class="card" style="height: 600px">
                        <div class="card-img-top h-100 d-flex align-items-center justify-content-center">
                            <img class="col-auto p-1 showImage" style="max-width: 280px; max-height: 330px" src="{{ .ImageLink }}" alt="{{ .ImageLink }}" data-bs-toggle="modal" data-bs-target="#imageShow" data-src="{{ .ImageLink }}"/>
                        </div>
                        <div class="card-body py-1">
                            <h4 class="card-title">{{ .Name }}</h4>
                            <strong class="card-text">{{ .Category.Name }}</strong>
                        </div>
                        <ul class="list-group border-0">
                            <li class="list-group-item border-0">Цена: {{ subf .Price (mulf .Price (divf .Discount 100)) }} руб{{ if ne .Discount 0 }} ({{ .Discount}}% Скидка){{ end }}</li>
                            <li class="list-group-item border-0">В наличии: {{ .Amount }} шт</li>
                        </ul>
                        <div class="card-footer">
                            <div class="row pb-2">
                                {{ if eq $.BaseObject.CurrentUser.Role.Name "Клиент" }}
                                <button type="button" class="btn btn-outline-primary col mx-2 infoProduct" data-bs-toggle="modal" data-bs-target="#infoProduct" data-id="{{ .ID }}" data-name="{{ .Name }}" data-number="{{ add .ID 1000 }}" data-price="{{ subf .Price (mulf .Price (divf .Discount 100)) }}" data-amount="{{ .Amount }}" data-image="{{ .ImageLink }}" data-category="{{ .Category.Name }}">Подробно</button>
                                <button type="submit" class="btn btn-primary col mx-2" form="addCart{{ .ID }}">В корзину</button>
                                {{ else }}
                                <button type="button" class="btn btn-outline-primary col mx-4 infoProduct" data-bs-toggle="modal" data-bs-target="#infoProduct" data-id="{{ .ID }}" data-name="{{ .Name }}" data-number="{{ add .ID 1000 }}" data-price="{{ subf .Price (mulf .Price (divf .Discount 100)) }}" data-amount="{{ .Amount }}" data-image="{{ .ImageLink }}" data-category="{{ .Category.Name }}">Подробно</button>
                                {{ end }}
                            </div>
                            <form class="visually-hidden" id="addCart{{ .ID }}" action="/main/add-cart">
                                <input type="hidden" value="{{ .ID }}" name="Id">
                            </form>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}
                <div class="page_navigation d-flex justify-content-center align-items-center mt-3 w-100"></div>
            </div>
        </div>
    </div>
    <script src="/static/js/custom/pagination.js"></script>
</body>
</html>