<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <script src="/static/js/lib/bootstrap.js"></script>
    <script src="/static/js/lib/bootstrap.bundle.js"></script>
    <script src="/static/js/lib/jquery.js"></script>
    <script src="/static/js/lib/jquery.maskedinput.js"></script>
    <script src="/static/js/custom/errorWindow.js"></script>
    <script src="/static/js/custom/modals.js"></script>
</head>
<body>
    <!-- Шапка и боковая панель -->
    {{template "menu" .}}

    <!-- Модальное окно вывода ошибки -->
    {{template "errorWindow" .}}

    <!-- Модальное окно смены пароля -->
    {{template "changePassword" .}}

    <h1 class="display-4 my-4 text-center mt-5 pt-5">Профиль</h1>

    {{ if .BaseObject.CurrentUser.Email }}
    <div class="justify-content-center align-items-center text-center d-flex flex-column">
        <h1 class="display-6 mt-2 mb-4">Личные данные</h1>
        <form class="form" action="/profile/personalisation" method="post">
            <div class="row form justify-content-center align-items-center">
                {{.BaseObject.CsrfField}}
                <div class="m-3 col-3">
                    <div class="form-floating">
                        <input class="form-control form-control-lg" type="text" name="LastName" placeholder="" required minlength="3" value="{{ .BaseObject.CurrentUser.LastName }}">
                        <label>Фамилия</label>
                    </div>
                </div>
                <div class="m-3 col-3">
                    <div class="form-floating">
                        <input class="form-control form-control-lg" type="text" name="Name" placeholder="" required minlength="3" value="{{ .BaseObject.CurrentUser.Name }}">
                        <label>Имя</label>
                    </div>
                </div>
                <div class="m-3 col-3">
                    <div class="form-floating">
                        <input class="form-control form-control-lg" type="text" name="MiddleName" minlength="3" placeholder="" value="{{ .BaseObject.CurrentUser.MiddleName }}">
                        <label>Отчество</label>
                    </div>
                </div>
                <div class="m-3 col-3">
                    <div class="form-floating">
                        <input class="form-control form-control-lg" readonly type="email" placeholder="" value="{{ .BaseObject.CurrentUser.Email }}">
                        <label>Почта</label>
                    </div>
                </div>
                <div class="m-3 col-3">
                    <div class="form-floating">
                        <input class="form-control form-control-lg mask-phone" type="text" name="Phone" placeholder="" value="{{ .BaseObject.CurrentUser.Phone }}">
                        <label>Телефон</label>
                    </div>
                </div>
                <div class="m-3 col-3">
                    <div class="form-floating">
                        <input class="form-control form-control-lg" readonly type="text" placeholder="" value="{{ .BaseObject.CurrentUser.Role.Name }}">
                        <label>Роль</label>
                    </div>
                </div>
                <div class="m-3 col-3"></div>
                <div class="m-3 col-3 fs-5">
                    <label class="form-check-label pe-3">Пол: </label>
                    <input class="form-check-input" type="radio" name="Gender" value="Мужской" {{ if eq .BaseObject.CurrentUser.Gender "Мужской" }} checked="checked" {{ end }}>
                    <label class="form-check-label ps-1 pe-3">Мужской </label>
                    <input class="form-check-input" type="radio" name="Gender" value="Женский" {{ if eq .BaseObject.CurrentUser.Gender "Женский" }} checked="checked" {{ end }}>
                    <label class="form-check-label ps-1">Женский </label>
                </div>
                <div class="m-3 col-3"></div>
            </div>
            <div class="mt-4 fs-5">
                <button type="submit" class="btn btn-lg btn-primary px-5 mx-2">Изменить</button>
                <button type="button" class="btn btn-lg btn-outline-primary px-5 mx-2" data-bs-toggle="modal" data-bs-target="#changePassword">Смена пароля</button>
            </div>
        </form>
        {{ if eq .BaseObject.CurrentUser.Role.Name "Клиент" }}
        <h1 class="display-6 my-4 text-center">Список заказов</h1>
        <div class="row row-cols-1 row-cols-md-4 m-2">
            {{ range $key, $order := .Orders }}
            {{ if eq $.BaseObject.CurrentUser.Email .User.Email }}
            <div class="col">
                <div class="card mb-2">
                    <div class="card-header pb-0">
                        <h4 class="card-title">Заказ №{{ add .ID 1000 }}</h4>
                    </div>
                    <div class="card-body">
                        {{ $price := 0 }}
                        {{ range $key, $position := .Positions }}
                        {{ $price = (addf $price ( mulf .CheckoutPrice .Amount )) }}
                        {{ end }}
                        <ul class="list-group border-0 fs-5">
                            <li class="list-group-item border-0">Общая стоимость: {{ $price }} руб</li>
                            <li class="list-group-item border-0">Дата: {{ .Date }}</li>
                            <li class="list-group-item border-0">Статус: {{ .Status.Status }}</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <h5 class="card-text mb-0">Содержимое</h5>
                        <ul class="list-group border-0">
                            {{ range $key, $position := .Positions }}
                            <li class="list-group-item border-0">{{ .Product.Name }}, {{ .CheckoutPrice }} руб, {{ .Amount }} шт</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <h1 class="display-6 my-4 text-center">Скидочная карта</h1>
        {{ if .BaseObject.CurrentUser.Card.ID }}
        <div class="justify-content-center align-items-center p-2 px-4">
            <div class="align-items-center border border-primary border-2 rounded-4 p-4 bg-primary bg-gradient">
                <div class="row m-0 mb-lg-5">
                    <p class="text-start text-light fs-3 col ">Номер: {{ add .BaseObject.CurrentUser.Card.ID 1000 }}</p>
                    <img class="col-auto rounded bg-light bg-opacity-50 p-1" src="/images/icons.png" alt="" height="60"/>
                </div>
                <div class="row m-0">
                    <p class="text-start text-light fs-3 col-auto m-0">Скидка: {{ .BaseObject.CurrentUser.Card.Discount }}%</p>
                    <p class="col-auto"></p>
                    <p class="col-auto"></p>
                    <p class="text-end text-light fs-3 col-auto m-0">Дата оформления: {{ .BaseObject.CurrentUser.Card.Date }}</p>
                </div>
            </div>
        </div>
        <a href="/profile/card-delete" class="btn btn-lg btn-danger my-3" >Удалить скидочную карту</a>
        {{ else }}
        <h4 class="mb-3 p-2 border rounded bg-warning bg-opacity-75 bg-gradient">Для создания скидочной карты необходимо заполнить все поля личных данных текущего пользователя</h4>
        <a href="/profile/card-create" class="btn btn-lg btn-success my-3{{ if not .AllData }} disabled{{ end }}">Создать скидочную карту</a>
        {{ end }}
        {{ end }}
    </div>
    {{ else }}
    <div class="alert alert-danger text-center fs-5 mt-3 fade show" role="alert">
        <i class="fs-4 bi-exclamation-triangle-fill"></i> Для доступа к данной странице необходимо авторизироваться! <i class="fs-4 bi-exclamation-triangle-fill"></i>
    </div>
    {{ end }}
    <script src="/static/js/custom/masks.js"></script>
</body>
</html>