{{define "changePassword"}}
<div class="modal modal-lg fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Смена пароля</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <form action="/profile/change-password" method="post" class="form">
        {{.BaseObject.CsrfField}}
        <div class="modal-body">
          <div class="mb-3">
            <div class="form-floating">
              <input class="form-control" style="border: none; border-bottom: 1px solid #000000; border-radius: 0;" required minlength="8" type="password" placeholder="A" name="OldPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль должен содержать по меньшей мере одну цифру, одну большую и одну маленькую буквы латинского алфавита и быть в длину не менее 8 символов">
              <label>Старый пароль</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-floating">
              <input class="form-control" style="border: none; border-bottom: 1px solid #000000; border-radius: 0;" required minlength="8" type="password" placeholder="A" name="NewPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль должен содержать по меньшей мере одну цифру, одну большую и одну маленькую буквы латинского алфавита и быть в длину не менее 8 символов">
              <label>Новый пароль</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-floating">
              <input class="form-control" style="border: none; border-bottom: 1px solid #000000; border-radius: 0;" required minlength="8" type="password" placeholder="A" name="RepeatPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Пароль должен содержать по меньшей мере одну цифру, одну большую и одну маленькую буквы латинского алфавита и быть в длину не менее 8 символов">
              <label>Повтор пароля</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Сменить</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}