{{define "cudCategory"}}
<div class="modal modal-lg fade" id="categoryCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создание категории</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form action="/categories" method="post" class="form">
                {{.BaseObject.CsrfField}}
                <input id="categoryRelationCreate" hidden type="text" name="Relation">
                <input hidden type="text" name="Method" value="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input class="form-control" style="border: none; border-bottom: 1px solid #000000; border-radius: 0;" required type="text" placeholder="A" name="Name">
                            <label>Наименование</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal-lg fade" id="categoryEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменение категории</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form action="/categories" method="post" class="form">
                {{.BaseObject.CsrfField}}
                <input id="categoryRelationEdit" hidden type="text" name="Relation">
                <input hidden type="text" name="Method" value="PUT">
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input id="categoryId" hidden type="text" name="Id">
                            <input id="categoryName" class="form-control" style="border: none; border-bottom: 1px solid #000000; border-radius: 0;" required type="text" placeholder="A" name="Name">
                            <label>Наименование</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal-lg fade" id="categoryDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удаление категории</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <div class="form-floating">
                        <input id="categoryNameDel" class="form-control" style="border: none; border-bottom: 1px solid #000000; border-radius: 0;" readonly required type="text" placeholder="A" name="Name">
                        <label>Наименование</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                {{ if eq .BaseObject.CurrentUser.Role.Name "Администратор" }}
                <form action="/categories" method="post" class="form">
                    {{.BaseObject.CsrfField}}
                    <input class="categoryIdDel" hidden type="text" name="Id">
                    <input hidden type="text" name="Method" value="DELETE">
                    <input hidden type="text" name="Type" value="Physical">
                    <button type="submit" class="btn btn-danger">Физическое удаление</button>
                </form>
                <form action="/categories" method="post" class="form">
                    {{.BaseObject.CsrfField}}
                    <input class="categoryIdDel" hidden type="text" name="Id">
                    <input hidden type="text" name="Method" value="DELETE">
                    <input hidden type="text" name="Type" value="Logical">
                    <button type="submit" class="btn btn-danger">Логическое удаление</button>
                </form>
                {{ else }}
                <form action="/categories" method="post" class="form">
                    {{.BaseObject.CsrfField}}
                    <input class="categoryIdDel" hidden type="text" name="Id">
                    <input hidden type="text" name="Method" value="DELETE">
                    <input hidden type="text" name="Type" value="Logical">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{end}}